.hero {
  background: #f4f6ff;
  border-radius: 40px;
  /* padding: 0px 60px; */
    padding-left: 60px;
  padding-right: 60px;
  padding-top: 40px;
  position: relative;
  overflow: hidden;
  margin: 0px 30px;
  font-family: "Segoe UI", system-ui, sans-serif;
}

/* background blur */
.hero::before,
.hero::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(to bottom, #DEDDFD 10%, #F3F3FF 90%);
  border-radius: 50%;
  /* filter: blur(px); */
}

.hero::before {
    width: 320px;
  height: 320px;
  top: -120px;
  left: -120px;
}

.hero::after {
    width: 420px;
  height: 420px;
  bottom: -240px;
  left: -140px;
  z-index: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
}

/* LEFT */
.badge {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  color: #4f46e5;
  margin-bottom: 16px;
}
.left {
  z-index: 10;
}

.left h1 {
  font-size: 48px;
  line-height: 1.2;
  color: #0b0f2f;
  font-weight:700;
  margin-bottom: 16px;
}

.subtitle {
  max-width: 480px;
  color: #555;
  margin-bottom: 32px;
}

/* Buttons */
.buttons {
  display: flex;
  gap: 16px;
  margin-bottom: 40px;
}

.btn {
  padding: 12px 28px;
  border-radius: 999px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  /* font-weight: 500; */
}

.primary {
  background-image: linear-gradient(to right, #4338ca, #4f6ad4f1);
  color: #fff;
}

.primary:hover {
  background: #000;
  transition: 1s;
  
}

.outline {
  background: transparent;
  border: 2px solid #4f46e5;
  color: #4f46e5;
}

.outline:hover {
  background-image: linear-gradient(to right, #4338ca, #4f6ad4f1);
  color: white;
  
}

/* Rating */
.rating {
  position: relative;
  z-index: 20;
  display: flex;
  gap: 8px;
  font-size: 14px;
  align-items: center;
}

.stars {
  color: #facc15;
}

/* RIGHT */
.right {
  position: relative;
  display: flex;
  justify-content: center;
}

.circleBg {
  width: 520px;
  height: 520px;
  border-radius: 50%;
  border: 40px solid #e0e7ff;
  position: absolute;
  top: 40px;
  z-index: 1; /* important */
}

.circleBg1 {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 40px solid #e0e7ff;
  position: absolute;
  top: 50px;
  left: 45;
  z-index: 2; /* important */
}


.doctorImg {
  height: 620px;
  width: auto;
  position: relative;
  z-index: 2;
}

/* Floating cards */
.card {
  position: absolute;
  background: #fff;
  border-radius: 16px;
  padding: 14px 18px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  z-index: 3;
}

.doctors {
  top: 35%;
  left: 0;
}

.avatars {
  display: flex;
  margin-bottom: 8px;
}

.avatars img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-left: -8px;
}

.clients {
  bottom: 70px;
  right: 0;
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon {
  font-size: 22px;
  background: #4f46e5;
  color: #fff;
  padding: 8px;
  border-radius: 50%;
}

.clients span {
  font-size: 12px;
  color: #666;
}

/* Responsive */
@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
    text-align: left;
    gap: 0px;
  }

  .hero {
  background: #f4f6ff;
  border-radius: 40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  position: relative;
  overflow: hidden;
  margin: 0px 30px;
  font-family: "Segoe UI", system-ui, sans-serif;
}

  .left h1 {
  font-size: 32px;
  line-height: 1.2;
  color: #0b0f2f;
  font-weight:700;
  margin-bottom: 16px;
}

  .doctorImg {
  height: 520px;
  width: auto;
  position: relative;
  z-index: 2;
}


.circleBg {
  width: 320px;
  height: 320px;
  
}

.circleBg1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 30px solid #e0e7ff;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2; /* important */
}

  .right {
    margin-top: 60px;
  }

  .doctors {
    left: 50%;
    transform: translateX(-50%);
  }

  .clients {
    right: 50%;
    transform: translateX(50%);
  }
}
